body
{
    margin: 0;
    background-color: #bde0fe;
}
*
{
    box-sizing: border-box;
    font-family: sans-serif;
}
.calc
{
    margin: 8% auto;

}
.calc .container
{
    width: 80%;
    margin-left:10%;
    background-color: #03045e;
    padding: 2px;
    border-radius: 20px;
}
.calc .container h1
{
    font-weight: 800;
    font-size: 35px;
    text-transform: capitalize;
    color: #caf0f8;
    text-align: center;
}
.calc .container  p
{
    text-transform: capitalize;
    font-size: 20px;
    color: #caf0f8;
    margin-left: 40px;
}

.calc .container .label
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-left: 20%;
    text-transform: capitalize;
    font-size: 22px;
    color: #90e0ef;
}
.calc .container .label > div
{
    width: 25%;
}
.calc .container .inputs
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}
.calc .container .inputs > div
{
    width: 100%;
}
select
{
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    margin-top: 15px;
}
.p2
{
    margin-top: 60px;
}
button
{
    
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 25px;
    background-color: #00b4d8;
    color: white;
    padding: 10px 10px;
    border-radius: 15px;
    transition: .3s;
}
button:hover
{
    background-color: #0077b6;
}
.button
{
    text-align: center;
    margin-top: 30px;
}
#res
{
    text-transform: capitalize;
    font-size: 20px;
    color: #caf0f8;

}
.show
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
@media (max-width:767px)
{
    .calc .container .label
    {
        width: 93%;
        margin-left: 3.5%;
    }
    .calc .container 
    {
        width: 95%;
        margin-left: 2%;
    }
}